<div class="form-v10">
  <div class="page-content">
    <div class="form-v10-content">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <h1>Welcome to Join us!</h1>
          </div>
          <div class="flip-card-back">
            <h1>Create your Account</h1>
          </div>
        </div>
      </div>
      <div class="form-detail">
        <div style="border: 2px solid #f7b71e" class="form-left">
          <h2 style="color: #f7b71e">General Infomation</h2>
          <div class="form-row">
            <input
              type="text"
              name="company_name"
              id="comapny_name"
              class="form-control"
              placeholder="Company Name"
              required
            />
          </div>
          <div class="form-row">
            <input
              type="text"
              name="first_name"
              id="first_name"
              class="form-control"
              placeholder="First Name"
              required
              #username
            />
          </div>
          <div class="form-row">
            <input
              type="text"
              name="last_name"
              id="last_name"
              class="form-control"
              placeholder="Last Name"
              required
            />
          </div>
          <div class="form-row">
            <input
              type="password"
              name="password"
              id="password"
              class="form-control"
              minlength="6"
              placeholder="Password"
              #pass
              required
            />
          </div>
          <div class="form-row">
            <input
              type="password"
              name="password"
              id="confirm_password"
              class="form-control"
              minlength="6"
              placeholder="Confirm Password"
              required
            />
          </div>
          <div class="form-row">
            <input
              type="file"
              name="imgfile"
              id="imgfile"
              class="form-control"
              placeholder="Logo"
              required
            />
          </div>
        </div>
        <div style="background-color: #f7b71e" class="form-right">
          <h2>Contact Details</h2>
          <div class="form-row">
            <input
              type="text"
              name="address"
              id="address"
              class="form-control"
              placeholder="Address"
              required
            />
          </div>
          <div class="form-group">
            <div class="form-row form-row-1">
              <input
                type="text"
                name="country"
                class="country"
                id="country"
                placeholder="Country"
                required
              />
            </div>
            <div class="form-row form-row-4">
              <input
                type="text"
                name="city"
                class="city"
                id="city"
                placeholder="City"
                required
              />
            </div>
          </div>
          <div class="form-group">
            <div class="form-row form-row-1">
              <input
                type="text"
                name="state"
                class="state"
                id="state"
                placeholder="State"
                required
              />
            </div>
            <div class="form-row form-row-4">
              <input
                type="text"
                name="phone"
                class="phone"
                id="phone"
                placeholder="Phone Number"
                required
              />
            </div>
          </div>
          <div class="form-row">
            <input
              type="text"
              name="your_email"
              id="your_email"
              class="input-text"
              required
              pattern="[^@]+@[^@]+.[a-zA-Z]{2,6}"
              placeholder="Your Email"
              #email
            />
          </div>
          <div class="form-checkbox">
            <label class="container">
              <p>
                I do accept the
                <a href="#" class="text">Terms and Conditions</a> of your site.
              </p>
              <input type="checkbox" name="checkbox" />
              <span class="checkmark"></span>
            </label>
          </div>
          <div class="form-row">
            <label class="container">
              <p style="color: #fff; margin-left: 150px; font-size: 16px">
                or Sign Up with
              </p>
            </label>
            <a href="#" class="google btn"
              ><i class="fa fa-google fa-fw"> </i> Login with Google+
            </a>
          </div>
          <div class="form-row-last" style="margin-left: 130px">
            <input
              (click)="submit(email.value,pass.value,username.value)"
              name="register"
              class="register"
              value="Sign Up"
            />
          </div>
          <div class="form-checkbox">
            <label class="container">
              <p style="color: #00f; font-size: 16px">
                Already registered with us? Signin Instead
                <a href="#" class="text"></a>
              </p>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
